.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  width: 100vw;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--button-bg-hov);
  opacity: 1;
  z-index: 9;
  padding: 0 2vw;
}

.footerLink {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.footerLink a {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.footerLink a > div > div > svg {
  width: 2rem;
  height: auto;
}

.footerLink.copywrite p {
  margin: 1rem 0;
  font-size: 0.5rem;
}

/* DESKTOP */
@media screen and (min-width: 889px) {
  .footerLink.copywrite p {
    font-size: 1rem;
  }
}
