/* body {
  margin: 0 auto;
} */

.intro h1 {
  font-size: 2.8rem;
}

h1 strong {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-weight: 900;
}

.aboutWrapper {
  display: flex;
  width: 100%;

  /* grid-template-columns: 1fr; */
  align-items: center;
  justify-items: center;
  justify-content: space-between;

  flex-direction: column;
}

.aboutBio {
  font-size: 1.6rem;
  /* max-width: 40vw; */
  display: flex;
  align-items: center;
}

/* pixelated image */

.pixelated {
  mask: paint(fragmentation);
  -webkit-mask: paint(fragmentation);
}

.imageContainer {
  width: 350px;
  position: relative;
  display: flex;
  height: 250px;
  align-items: left;
  /* -webkit-mask-image: url(../../assets/masks/Subtract3.png);
  mask-image: url(../../assets/masks/Subtract3.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; */
}
/* 
 */

@keyframes waveAnimation {
  0%,
  100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imageContainer::before {
  content: "";
  position: absolute;
  top: -5em;
  right: -6rem;
  width: 150px;
  height: 150px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imageContainer:hover::before {
  background-image: url("../../assets/images/hand-no-wave.svg");
  background-size: cover;
  pointer-events: none;
  mix-blend-mode: difference;
  opacity: 1;
  animation: waveAnimation 2s linear infinite;
  transform-origin: bottom;
  z-index: 99;
}

.imageContainer::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  left: -6rem;
  width: 200px;
  height: 200px;
  background-image: url("../../assets/images/purple-star-big-points.svg");
  background-size: cover;
  animation: spin 10s linear infinite;
}
.canvasContainer {
  width: 350px;
  height: 250px;
}

.originalImage,
.canvasPixelated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  /* height: auto; */
  border-radius: 2rem;
  border: 2px solid var(--text-color);
}

.canvasPixelated {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.imageContainer:hover .canvasPixelated {
  opacity: 0;
}
/* after Hero/Intro section  */

.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

.grid3 div {
  padding: 1.2rem;
  border: 2px solid;
  border-radius: 1rem;
}

/* FOR GRID LINES ON GRID WITHOUT GAP >>>


.grid3 div {
  border-left: 2px solid var(--text-color);
  border-top: 2px solid var(--text-color);
  padding: 1rem;
}

.grid3 div:nth-child(3n) {
  border-right: 2px solid var(--text-color);
}

.grid3 > *:nth-last-child(-n + 3) {
  border-bottom: 2px solid var(--text-color);
} */

/* DESKTOP */
@media screen and (min-width: 889px) {
  .aboutWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: end;
    column-gap: 2rem;
    /* margin-bottom: 4rem; */
  }
  .aboutBio {
    font-size: 2rem;
    height: 350px;
    display: flex;
    align-items: center;
  }

  .imageContainer {
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-radius: 2rem;
  }
  .canvasContainer {
    width: 350px;
    height: 350px;
  }
}
