/* Initial State of the Header */
.header {
  transition: height 0.3s ease, position 0.3s ease;
  height: 100px;
  position: relative;
  width: 100%;
  z-index: 1000;
}

/* When Scrolled: Shrink and Fix the Header */
.header.shrink-header.fixed-header {
  position: fixed;
  top: 0;
  height: 60px;
}

/* Logo Styling */
.logo svg {
  width: 350px;
  height: auto;
}

.logo {
  transition: transform 0.3s ease;
  display: inline-block;
  max-height: 100%; /* so logo doesn't break out */
}

/* Logo Transformation on Scroll */
.logo.shrink-logo {
  transform: translateX(40vw) translateY(-10px) scale(0.25);
}
