/* Initial State of the Header */
.header {
  transition: height 0.3s ease, position 0.3s ease;
  height: 80px;
  position: relative;
  width: 100%;
  z-index: 9;
}

/* When Scrolled: Shrink and Fix the Header */
.header.shrink-header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  z-index: 8;
  border-bottom: 2px solid var(--text-color);
  /* opacity: 0.7;
  backdrop-filter: blur(3px); */
}

/* Logo Styling */
.logo svg {
  width: 220px;
  height: auto;
}

.logo {
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  max-height: 100%; /* so logo doesn't break out */
}

/* Logo Transformation on Scroll */
.header.fixed-header {
  background-color: var(--button-bg-hov);
}

.logo.shrink-logo {
  transform: translateX(38vw) translateY(-4px) scale(0.35);
}

@media screen and (min-width: 500px) {
  .logo.shrink-logo {
    transform: translateX(42vw) translateY(-10px) scale(0.25);
  }
}

@media screen and (min-width: 800px) {
  .logo svg {
    width: 350px;
    height: auto;
  }

  .logo.shrink-logo {
    transform: translateX(44vw) translateY(-10px) scale(0.25);
  }
}

@media screen and (min-width: 1800px) {
  .logo.shrink-logo {
    transform: translateX(46vw) translateY(-10px) scale(0.25);
  }
}
