/* .header {
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
  z-index: 10;
}

.header.shrink {
  transform: scale(0.25);
  right: 20px;
  left: auto;
} */

/* .header {
  position: relative; 

}

.react-svg {
  transition: transform 0.3s ease, right 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.header .shrink-logo {
  transform: scale(0.25); 
  left: auto;
} */

.header .logo {
  transition: transform 0.3s ease;
}

.header .logo.shrink-logo {
  transform: scale(0.25) translateX(calc(100vw - 100%)) translateY(-20px);
}
