@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro h1 {
  font-size: 1.8rem;
}
.intro h1 strong {
  /* font-style: italic; */
  font-weight: 900;
  font-size: 1.6rem;
}

.aboutWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  align-items: center;
  justify-items: center;
  justify-content: space-between;
  /* bring carousel up without messing overflow */
  margin-bottom: -3rem;
}

.aboutBio {
  /* max-width: 40vw; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 3rem;
}

.aboutBio p {
  font-size: 1.4rem;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2.2rem;
}
.aboutBio strong {
  font-size: 1rem;
}

/* pixelated image */

.pixelated {
  mask: paint(fragmentation);
  -webkit-mask: paint(fragmentation);
}

.imageContainer {
  width: 300px;
  position: relative;
  display: flex;
  height: 180px;
  align-items: left;
}

.imageContainer::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: -2rem;
  width: 5rem;
  height: 5rem;
  background-image: url("../../assets/icons/EmptyStar.svg");
  background-size: cover;
  animation: spin 8s infinite alternate;
}
.canvasContainer {
  width: 350px;
  height: 250px;
}

.originalImage,
.canvasPixelated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  /* height: auto; */
  border-radius: 2rem;
  border: 2px solid var(--text-color);
}

.canvasPixelated {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.imageContainer:hover .canvasPixelated {
  opacity: 1;
}

button.cta {
  padding: 0.6rem 1.2rem;
  border-radius: 1.5rem;

  /* margin: 0rem 0 2rem 0; */
  width: fit-content;
  background-color: var(--button-bg);

  border: 2px solid var(--button-text);
  transform: translate(10px, 10px);
  box-shadow: 0px 0px black;
}

/* //stop it growing on hover as other buttons  */
button.cta:hover {
  width: fit-content;
  height: auto;
  border: 2px solid #786fe1;
  background-color: var(--button-bg-hov);
  transform: translate(2px, 2px);

  box-shadow: 0 0 8px rgba(120, 111, 225, 0.6),
    /* Inner glow */ 0 0 10px rgba(120, 111, 225, 0.6),
    0 0 15px rgba(120, 111, 225, 0.6), 0 0 20px rgba(120, 111, 225, 0.6),
    /* Outermost glow */ 8px 8px 0 rgba(120, 111, 225, 0.6);
  opacity: 1;
}
/* button.cta:hover {
  width: fit-content;
  height: auto;
  border: 2px solid var(--link-color);
  background-color: var(--button-bg-hov);
  transform: translate(2px, 2px);
  box-shadow: 8px 8px black;
} */

button.cta a {
  font-weight: 900;
  font-family: "Space Grotesk";
  font-size: 1rem;
  color: var(--button-text);
}

@media screen and (min-width: 710px) {
  .aboutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .imageContainer {
    width: 250px;
  }
}

@media screen and (min-width: 889px) {
  .aboutWrapper {
    display: flex;
    max-width: 1440px;
    margin: 3rem auto 1rem;
    padding: 0 2vw;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;

    display: flex;
  }

  .aboutBio p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .imageContainer {
    width: 350px;
    height: 214px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1000px) {
  .intro > h1 strong {
    /* font-style: italic; */
    font-weight: 900;
    font-size: 2.2rem;
  }

  .aboutWrapper {
    display: flex;
    max-width: 1440px;
    margin: 3rem auto 1rem;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;

    display: flex;
  }

  .aboutBio {
    font-size: 2rem;
    /* height: 350px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .aboutBio p {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .aboutBio strong {
    font-size: 1.8rem;
  }

  .imageContainer {
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 2vw;
    border-radius: 2rem;
  }
  .canvasContainer {
    width: 450px;
    height: 350px;
  }

  button.cta {
    /* margin: 2rem 0 2rem 0; */
    font-size: 1.5rem;
    padding: 1rem 4rem;
    border-radius: 2rem;
  }

  button.cta a {
    font-size: 1.5rem;
  }
}
