.contactWrapper {
  margin-top: 6rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
  border: 2px solid var(--button-bg-hov);
  padding: 2rem;
  border-radius: 1rem;
}

.msgFeild,
.nameFeild,
.emailFeild {
  display: flex;
  flex-direction: column;
}
