/* .imageContainer > img {
  max-width: 400px;
} */

/* //animated blob image */

/* .animatedBlob {
  width: 380px;
  height: 380px;
  margin: 20px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  animation: liquidBlob 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes liquidBlob {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
} */

.logo {
  display: flex;
  justify-content: center;
}
