body {
  margin: 0 auto;
}

/* .imageContainer > img {
  max-width: 400px;
} */

/* //animated blob image */

/* .animatedBlob {
  width: 380px;
  height: 380px;
  margin: 20px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  animation: liquidBlob 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes liquidBlob {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
} */

/* pixelated image */

.pixelated {
  mask: paint(fragmentation);
  -webkit-mask: paint(fragmentation);
}

.imageContainer {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-mask-image: url(../../assets/masks/Subtract3.png);
  mask-image: url(../../assets/masks/Subtract3.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.originalImage,
.canvasPixelated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.canvasPixelated {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.imageContainer:hover .canvasPixelated {
  opacity: 0;
}
