body {
  margin: 0 auto;
}

.imageContainer {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer > img {
  max-width: 400px;
}

/* Initial pixelated style for low-res image */
.pixelated {
  image-rendering: pixelated;
  transform: scale(0.1); /* Scale down the image */
  transition: transform 1s ease-out;
}

/* High-res image style */
.highRes {
  transform: scale(1);
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
