/* swiper styles */
.swiper {
  overflow: visible !important;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding: 15px;
  border-radius: 10px;

  user-select: none;
}

.swiper-pagination-bullet-active {
  background-color: var(--button-bg-hov);
}

.swiper-pagination-bullet {
  background-color: var(--link-color);
}

.swiper-slide {
  filter: blur(4px);
  transition: filter 0.3s ease;
}

.swiper-slide-active {
  filter: none;
}
