.swiperContainer {
  margin: 0 -10%;
  overflow-y: visible !important;
  padding-top: 5%;
}

.swiperCard {
  height: 15rem;
  min-width: 12rem;
  padding: 0.8rem;
  background-color: white;
  margin: 2rem 0.6rem;
  border-radius: 0.4rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.swiperCard::after {
  content: "";
  /* background-image: url(../../assets/images/eye.svg); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;

  bottom: 10%;
  right: 8%;
  width: 1.2rem;
  height: 1.2rem;
  transform: rotate(15deg);
  opacity: 1;

  pointer-events: none;
  z-index: 999;
  position: absolute;
}

.swiperCard:hover::after {
  transform: rotate(-5deg);
  transition: transform 0.3s ease-in-out;
  /* opacity: 0; */
}

.swiperCard img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  pointer-events: none;
}

.details h2 {
  font-size: 1rem;
  margin: 0.2rem 0;
}

.details p {
  font-size: 0.8rem;
  margin: 0.2rem 0;
  line-height: 1rem;
}

.innerSwiper {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 3%;
}

.swiper {
  overflow-x: hidden;
  /* cursor: url(../../assets/cursors/cursorHi.png) 0 0, grab !important; */
}

@media (min-width: 768px) {
  .swiperCard {
    height: 26rem;
    min-width: 20rem;
    margin: 4rem 1.2rem;
  }
  .swiperCard::after {
    content: "";
    bottom: 3%;
    right: 5%;
    width: 2rem;
    height: 2rem;
  }

  .swiperCard img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }

  .details {
    margin-top: 1rem;
  }
  .details h2 {
    font-size: 2rem;
  }

  /* .details p {
    font-size: 0.8rem;
    margin: 0.2rem 0;
    line-height: 1rem;
  }
   */
}
