#root {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(238deg, #e5fdbb 2.45%, #c6c2ff 91.6%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
