/* #root {
  height: 100vh;
  /* width: 100vw;
} */

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("../assets/fonts/DMSerifDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Pixelify Sans";
  src: url("../assets/fonts/PixelifySans-VariableFont_wght.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  height: 100vh;
  width: 100vw;
  --background-bold-gradient: linear-gradient(
    238deg,
    #c7ff7e 3.45%,
    #c6c2ff 65%
  );
  --background-color: linear-gradient(238deg, #e5fdbb 2.45%, #c6c2ff 91.6%);
  --transparent-bg: #0000000d;
  --text-color: #161616;
  --menu-bg-color: #c6c2ff;
  /* --link-dec: #161616;*/
  --button-bg: #f1f1f1;
  --link-color: #786fe1;
  --button-bg-hov: #c7ff7e;
  --button-text: #1a1a1a;
  --overlay-color: #b288ff7d;
  --cursor-color: #1a1a1a;
  --cursor-link-color: #ffa114;

  /* --cursor-link-color: #ff5f1f; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #161616;
    --transparent-bg: #fffff80f;
    --text-color: #f1f1f1;
    --menu-bg-color: #786fe1;
    /* --link-dec: #161616;*/
    --link-color: #c7ff7e;
    --button-bg-hov: #786fe1;
    --button-text: #f1f1f1;
    --overlay-color: #fffff8a5;
  }

  html {
    color-scheme: dark;
  }

  .icons img {
    filter: invert(1);
  }
}

/* body {
  cursor: url("../assets/cursors/cursor.png") 0 0, auto;
}

a:hover {
  cursor: url("../assets/cursors/cursorLink.png") 0 0, pointer;
}

div.swiper {
  cursor: url("../assets/cursors/cursorHi.png") 0 0, grab !important;
} */

html {
  font-size: calc(16px + 0.1vmin);
}

body {
  background: var(--background-color);
  background-attachment: fixed;
  color: var(--text-color);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02rem;
  font-size: 0.8rem;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 6vw auto;
  padding: 0;
  text-rendering: optimizeLegibility;
  max-width: 1220px;
  min-width: 450px;
  -webkit-font-smoothing: antialiased;
}

.App {
  margin: 0 2rem;
}

p {
  line-height: 2.2rem;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 4rem;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* h4 used in footer */

h4 {
  text-transform: uppercase;
  font-family: "Pixelify Sans";
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

nav a {
  color: var(--text-color);
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Space Grotesk", sans-serif;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid var(--link-color);
  background-color: var(--transparent-bg);
  transition: 0.3s ease;
  color: var(--link-color);
}

button:hover {
  background-color: var(--menu-bg-color);
  color: var(--link-color);
  height: 78px;
  width: 78px;
}

/* LAYOUT */

/* .contentWrapper, */

.intro {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  align-items: center !important;
  row-gap: 2rem;
  text-align: center;
}

@media screen and (min-width: 889px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    text-align: left;
  }
}

/* @media screen and (min-width: 889px) {
  .contentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
} */
